<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <% if(locals.isLogged) { %>
        <a href="/">Logout</a>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <% } %>
      </nav>
    </header>
    <main>
      <h2>Login</h2>
      <form action="login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Login</button>
      </form>
      <p>No account yet ? <a href="/register">Create one</a></p>
    </main>
  </body>
</html>
